body	{
	background-color: #e8f3f8;
}


.home{
	position: absolute;
	margin-left:30%;
	top: 70%;
	width: 250px;
	height: 250px;
	background: chocolate;
}
.grass{
	position: absolute;
	margin-left: 0%;
	top: 100%;
	width: 1300px;
	height: 50px;
	background: green;
}
.roof{
    position: absolute;
	margin-left: 28.5%;
    top: 57.5%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 100px solid orange;
}
.window{
	position: absolute;
	margin-left: 36%;
	top: 80%;
	width: 80px;
	height: 80px;
	background: yellow;
}
.chimney{
	position: absolute;
	margin-left: 34%;
	top: 57.5%;
	width: 30px;
	height: 50px;
	background: brown;
}
.smoke1{
	position: absolute;
	margin-left:34%;
	top: 49%;
	width: 80px;
	height: 30px;
    background: lightgray;
    border-radius: 50px;
}
.smoke2{
	position: absolute;
	margin-left:38%;
	top: 43%;
	width: 70px;
    height: 30px;
    background: lightgray;
    border-radius: 50px;
}
.smoke3{
	position: absolute;
	margin-left:42%;
	top: 37%;
	width: 55px;
    height: 30px;
    background: lightgray;
    border-radius: 50px;
}
.column1 {
	position:absolute;
    left:10%;
    top:73%;
    width: 20px;
    height: 200px;
    background: khaki;
}
.appletree{
	position:absolute;
    left:4%;
    top:52%;
    width: 200px;
    height: 200px;
    background: forestgreen;
    border-radius: 100px / 50px;
}
.apple1 {
	position:absolute;
    left:5%;
    top:58%;
	width: 50px;
    height: 50px;
    background: red;
    border-radius: 50px;
}
.apple2 {
	position:absolute;
    left:13%;
    top:56%;
	width: 50px;
    height: 50px;
    background: red;
    border-radius: 50px;
}
.apple3 {
	position:absolute;
    left:11%;
    top:67%;
	width: 50px;
    height: 50px;
    background: red;
    border-radius: 50px;
}
.column2 {
	position:absolute;
    left:77%;
    top:74%;
    width: 20px;
    height: 200px;
    background: maroon;
}
.firtree {
	position:absolute;
    left:70.5%;
    top:60%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid lime;
}
.step1{
	position: absolute;
	margin-left: 47.3%;
	top: 92.5%;
	width: 60px;
    height: 60px;
    background: brown;
}
.step2{
	position: absolute;
	margin-left: 51.4%;
	top: 96%;
	width: 40px;
    height: 40px;
    background: brown;
}
.curtain{
	position: absolute;
	margin-left: 36%;
    top: 80%;
    width: 0;
    height: 0;
    border-top: 80px solid darkorchid; 
    border-right: 50px solid transparent;			
}