@{
    ViewBag.Title = "Work";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<script type="text/javascript">
    function getName() {
        name = document.forms["task"].elements["name"].value;
        alert('Приветствую Вас,  ' + name + '!');
    }
</script>

<form id="task" name="task">
    Введите своё имя: <input type="text" id="name" name="name" />
    <input type="button" value="Сlick Me" onclick="getName();" />
</form>